<div class="topnav">
    <a class="active" onclick="login()">로그인</a>
    <a href="/homepage/main">MainPage</a>
    <a href="#">공지사항</a>
    <a href="#">자료&정보</a>
    <a href="/homepage/market/market">장터게시판</a>
    <a href="#">QnA</a>
    <a href="/user/registform">회원가입</a>
</div>
<script>
    function login() {
        location.href = "/homepage/user/loginform"
    }
</script>